{% extends "base.html" %}

{% block content %}

<h1>{% block title %} Chat {% endblock %}</h1>

<p>Logged as: <span class="badge text-bg-primary">{{ current_user.email }}</span></p>

<form method="POST">
    {{ form.hidden_tag() }}

    <h3 class="muted mt-3">Access to a public room</h3>

    {{ form.public_submit(class="btn btn-primary mt-3") }}

    <h3 class="muted mt-4">Create a private room</h3>

    <div class="form-group">
        {{ form.room.label(class="form-control-label") }}
        {% if form.room.errors %}
            {{ form.room(class="form-control form-control-lg is-invalid") }}
            {% for error in form.room.errors %}
                <span>{{ error }}</span>
            {% endfor%}
        {% else %}
            {{ form.room(class="form-control form-control-lg") }}
        {% endif %}
    </div>

    {{ form.create_room_submit(class="btn btn-primary mt-3") }}

    <h3 class="muted mt-4">Sent broadcast message</h3>

    <div class="form-group">
        {{ form.message.label(class="form-control-label") }}
        {% if form.message.errors %}
            {{ form.message(class="form-control form-control-lg is-invalid") }}
            {% for error in form.message.errors %}
                <span>{{ error }}</span>
            {% endfor%}
        {% else %}
            {{ form.message(class="form-control form-control-lg") }}
        {% endif %}
    </div>

    {{ form.broadcast_submit(class="btn btn-primary mt-3") }}

</form>

<a class="btn btn-outline-primary mt-4" href="{{url_for('protected')}}">Exit</a>

{% endblock %}