{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

<h1>{% block title %} List users {% endblock %}</h1>

{% for user in users %}
<div class="mt-3">
    <div>User: {{ user.email }}</div>
    <a class="btn btn-info" href="{{url_for('user_detail', id=user.id)}}" role="button">Detail</a>
    <a class="btn btn-danger" href="{{url_for('user_delete', id=user.id)}}" role="button">Delete</a>
</div>
{% endfor %}


<div class="float-start mt-3">
    <a class="btn btn-primary" href="{{url_for('user_create')}}" role="button">Create user</a>
    <a class="btn btn-secondary" href="{{url_for('protected')}}" role="button">Back</a>
</div>

{% endblock %}