{% extends "base.html" %}

{% block content %}

<h1>{% block title %} Protected {% endblock %}</h1>

<p>Logged as: {{ current_user.email }}</p>

<div class="mt-4">
    <a href="{{url_for('logout')}}">
        <button class="btn btn-danger" type="submit">Logout</button>
    </a>
</div>

<div class="mt-4">
    <a class="btn btn-primary" href="{{url_for('user_list')}}" role="button">Users list</a>
</div>

<div class="mt-4">
    <a class="btn btn-primary" href="{{url_for('user_create')}}" role="button">Create user</a>
</div>

<div class="mt-4">
    <a class="btn btn-primary" href="{{url_for('chat')}}" role="button">Chat</a>
</div>
{% endblock %}